<div class="row">



    <div class="form-group col-md-6">
        <label for="code">{{'transactionCode' | translate}}</label>
        <input class="form-control" name="transactionCode" placeholder="default Receiving">
    </div>

    <div class="form-group col-md-6">
        <label for="inventoryUnits">{{'inventoryUnits' | translate}}</label>
        <input class="form-control" name="inventoryUnits" type="number">
    </div>

    <div class="form-group col-md-6">
        <label for="price">{{'price' | translate}}</label>
        <input class="form-control" name="price" type="number">
    </div>


    <div class="form-group col-md-6">
        <label for="unitPrice">{{'unitPrice' | translate}}</label>
        <input class="form-control" name="unitPrice">
    </div>

    <div class="form-group col-md-6">
        <label for="lotCode">{{'lotCode' | translate}}</label>
        <input class="form-control" name="lotCode" type="checkbox">
    </div>

    <div class="form-group col-md-6">
        <label for="locationCode">{{'locationCode' | translate}}</label>
        <input class="form-control" name="locationCode">
    </div>


    <div class="form-group col-md-6">
        <label for="eventDate">{{'eventDate' | translate}}</label>
        <input class="form-control" name="eventDate" type="date">
    </div>
    <div class="form-group col-md-6">
        <label for="expirationDate">{{'expirationDate' | translate}}</label>
        <input class="form-control" name="expirationDate" type="date">
    </div>
    <div class="form-group col-md-6">
        <label for="eventDate">{{'time' | translate}}</label>
        <input class="form-control" name="time" type="time">
    </div>
    <div class="form-group col-md-6">
        <label for="comment">{{'comment' | translate}}</label>
        <input class="form-control" name="comment">
    </div>


    <div class="form-group col-md-6">
        <label for="comment">{{'isVoid' | translate}}</label>
        <input class="form-control" name="isVoid" type="checkbox">
    </div>




</div>
