<div class="row" [formGroup]="addinventoryform">
    <div class="form-group col-md-6">
        <label class="required" for="transactionDate">{{'transactionDate' | translate}}</label>
        <input class="form-control" type="date" name="transactionDate" formControlName="transactionDate" required aria-invalid="true" (change)="geValues($event)" />
    </div>

    <div class="form-group col-md-6">
        <label class="required" for="warehouseCode">{{'warehouseCode' | translate}}</label>
        <input class="form-control" name="warehouseCode" formControlName="warehouseCode" required aria-invalid="true" (change)="geValues($event)" />
    </div>
</div>
