<div class="row" [formGroup]="addform">

    <div class="form-group col-md-6">
        <label class="required" for="code">{{'code' | translate}}</label>
        <input class="form-control" name="code" ngModel [(ngModel)]="fournisseur.code"
               formControlName="code" required aria-invalid="true" (change)="geValues($event)" />
        <div *ngIf="addform.get('code')?.errors?.badword">Code contains bad words</div>
        <div *ngIf="addform.get('code')?.errors?.required">Code is required</div>
        <div *ngIf="addform.get('code')?.errors?.minlength">
            Code must be at least 4 characters long.
        </div>
        <div *ngIf="addform.get('code')?.errors?.maxlength">
            Code cannot be more than 8 characters long.
        </div>
    </div>

    <div lass="required" class="form-group col-md-6">
        <label for="name">{{'name' | translate}}</label>
        <input class="form-control" name="name" ngModel [(ngModel)]="fournisseur.name"
               required aria-invalid="true" formControlName="name"
               (change)="geValues($event)">
        <div *ngIf="addform.get('name')?.errors?.required">Name is required</div>
        <div *ngIf="addform.get('name')?.errors?.minlength">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="addform.get('name')?.errors?.maxlength">
            Name cannot be more than 8 characters long.
        </div>
    </div>

    <div class="form-group col-md-6">
        <label for="type">{{'type' | translate}}</label>
        <select class="form-control" name="type" ngModel [(ngModel)]="fournisseur.type"
                required aria-invalid="true"
                (change)="geValues($event)">
            <option value="intern">intern</option>
            <option value="extern">extern</option>
        </select>
        <div *ngIf="addform.get('type')?.errors?.required">Type is required</div>
    </div>

    <div class="form-group col-md-6">
        <label lass="required" for="currencyCode">{{'currencyCode' | translate}}</label>
        <input class="form-control" name="currencyCode" ngModel [(ngModel)]="fournisseur.currencyCode"
               required aria-invalid="true"
               formControlName="currencyCode"
               (change)="geValues($event)">
        <div *ngIf="addform.get('currencyCode')?.errors?.required">Currency code is required</div>
    </div>

    <div class="form-group col-md-6">
        <label for="paymentTerm">{{'paymentTerm' | translate}}</label>
        <input class="form-control" name="paymentTerm" ngModel [(ngModel)]="fournisseur.paymentTerm"
               required formControlName="paymentTerm"
               (change)="geValues($event)">
        <div *ngIf="addform.get('paymentTerm')?.errors?.required">Payment term is required</div>

    </div>
</div>

