<div class="row">

    <div class="form-group col-md-6">
        <label for="sales">{{'sales' | translate}}</label>
        <select class="form-control" name="sales" #sales="ngModel" ngModel [(ngModel)]="produit.salesSKU.sales">
            <option value="sales1">sales1</option>
            <option value="sales2">sales2</option>
            <option value="sales3">sales3</option>

        </select>
    </div>

 
    <div class="form-group col-md-6">
        <label for="code">{{'code' | translate}}</label>
        <input class="form-control" name="code" #code="ngModel" ngModel [(ngModel)]="produit.salesSKU.code">
    </div>

    <div class="form-group col-md-6">
        <label for="name">{{'name' | translate}}</label>
        <input class="form-control" name="name" #name="ngModel" ngModel [(ngModel)]="produit.salesSKU.name">
    </div>

</div>
